h1{
    background-color: #dfdfdf;
    text-shadow: grey 2px 0 10px;
}
h2{
    background-color: aliceblue;
    width: 300px;
    border:inset black;
    border-width:5px;
    border-top-left-radius:15px 15px ;
    margin-block:-5px ;
    margin-top:30px;
    padding: 10px;
    background: linear-gradient(to right,aliceblue, white);
}
h3{
    width: 1390px;
    background-color: aliceblue;
    border:solid #bfbfbf;
    border-left-color:black;
    border-top-color:black;
    border-width:5px;
    margin-block:-5px ;
    padding: 10px;
}
p{
    width: 1400px;
    background-color: aliceblue;
    border:solid #bfbfbf;
    border-left-color:black;
    border-width:5px;
    margin-block:-5px ;
    padding: 5px;
}
