p {
	color: navy;
}

p.info {
	font-size: small;
	background-color: #dfdfdf;
}

h1 {
	color:#ffffff;
	text-shadow:navy 1px 0 10px;
}
h2 {
	margin-top: 5px;
	font-family: cursive;
	color:#3f3faf;
	background: linear-gradient(to right,white,#ffefaf);
}

div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap:10px;
	height: 200px;
	width: 1024px;
}

div#zentai > div {
	padding: 5px;
	background-color: #ffefaf;
}
img{
	float:right;
}
